@charset "UTF-8";

:root{
    --color-neutral-0:#0e0c0c;
    --color-neutral-10:#171717;
    --color-neutral-20:#858585;
    --color-neutral-30: #171717ad;
    --color-neutral-40:#a8a29e;
    --color-neutral-50:#f5f5f5;
    --color-neutral-60: #7f37c9;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", Arial, Helvetica, sans-serif;
}
/*Header*/
header{
    background-color: var(--color-neutral-10);
    position: relative;
}

.promocao{  
    background-color: var(--color-neutral-40);
    color: black;
    font-weight: 700;
    text-decoration: none;
    display: block;
    width: 100%;
    text-align: center;
    padding: 7px;
}

.entrada {
    display: flex;
    padding: 20px;
    justify-content: space-around;
}

.logo{
    color: var(--color-neutral-60);
    text-decoration: none;
}

.busca{
    background-color: transparent;
    border: none;
    outline: none;
    max-width: 250px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 700;
    border-radius: 20px;
    box-shadow: inset 2px 5px 10px var(--color-neutral-0);
    color: var(--color-neutral-50);
}
.carrinho-cadastro{
    color: var(--color-neutral-60);
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

#login{
    font-size: 20px;
    padding-left: 20px;
}

#login:hover{
    color: white;
    transition-duration: 0.3s;
}

#carrinho{
    font-size: 20px;
    padding-left: 20px;
}

#carrinho:hover{
    color: white;
    transition-duration: 0.3s;
}

.navegacao {
    background-color: var(--color-neutral-10);
    text-align: center;
    padding: 7px;
}

.navegacao > a {
    color: var(--color-neutral-60);
    font-size: 18px;
    font-weight: 700;
    margin-right: 25px;
    text-decoration: none;
}

.navegacao > a:hover {
    color: white;
    background-color: var(--color-neutral-10);
    padding: 5px;
    border-radius: 5px;
    transition-duration: 0.3s;
}
/*Fim do header*/

/*Main*/

.anuncio{
    position: relative;
    width: 98%;
    height: 500px;
    margin: 10px 10px 10px 10px;
}

#principal{
    background-color: #ff9807;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.418);
}

#nike{
    background-color: #4267b3;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.418);
}

#nike > p { 
    color: white;
    text-shadow: 2px 2px 4px rgba(5, 5, 5, 0.705);
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    position: absolute;
    top: 300px;
    left: 40px;
}

#adidas{
    background-color: #25d366;
box-shadow: 2px 2px 4px rgba(5, 5, 5, 0.705);
}

#puma{
    background-color: #7f37c9;
box-shadow: 2px 2px 4px rgba(5, 5, 5, 0.705);
}

#NB{
    background-color: #ff2992;
box-shadow: 2px 2px 4px rgba(5, 5, 5, 0.705);
}

.genero{
    background-color: var(--color-neutral-10);
    text-align: center;
    padding: 5px;
    width: 100%;
    height: 30px;
    margin-bottom: 25px;
    box-shadow: 3px 2px 8px rgba(0, 0, 0, 0.418);
}

.genero > a {
    color: var(--color-neutral-60);
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    margin-left: 40px;
}

.genero> a:hover {
    background-color: var(--color-neutral-10);
    color: white;
    padding: 5px;
    border-radius: 5px;
    transition-duration: 0.3s;
}

.Produtos{
    padding-left: 90px;
}

.imagens{
    display: inline-block;
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
    width: 250px;
    height: 310px;
    padding-top: 10px;
    margin: 10px;
    cursor: pointer;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.255);
}

.imagens > p {
    font-weight: 700;
    padding-top: 10px;
}

#img {
    width: 200px;
    height: 200px;
}

#img:hover{
   padding: 50px;
}
/*Fim do main*/
/*Footer*/

footer {
    width: 100%;
    color: white
}

.footer-link {
    text-decoration: none;
    align-items: center;
}

#footer_content {
    background-color: var(--color-neutral-10);
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 3rem 3.5rem;
    margin-top: 25px;
}

#footer_contacts {
    margin-bottom: 0.75rem;
}

#footer_social_media {
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
}

#footer_social_media .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color:var(--color-neutral-60);
    border-radius: 50%;
}

#footer_social_media .footer-link i {
    font-size: 1.25rem;
    color: white;
}
#footer_social_media .footer-link:hover{
    opacity: 0.8;
}

#facebook {
    color: white;
    background-color: #4267b3;
    margin-right: 3px;
    display: flex;
    justify-content: center;
    width: 20px;
    height: 20px;
}

#whatsapp {
    color: white;
    background-color:#25d366;
    margin-right: 3px;
    display: flex;
    justify-content: center;
    width: 20px;
    height: 20px;
}

#instagram {
    color: white;
    background: linear-gradient(#7f37c9, #ff2992,#ff9807);
    margin-right: 3px;
    display: flex;
    justify-content: center;
    width: 20px;
    height: 20px;
}

.footer-list {
    font-weight: 800;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}

.footer-list .footer-link{
    font-weight: 700;
    color:var(--color-neutral-20) ;
}

.footer-list .footer-link:hover {
    color: var(--color-neutral-60);
}

#footer_subscribe {
    color:var(--color-neutral-0);
}

#input_group {
    display: flex;
    align-items: center;
    background-color: var(--color-neutral-0);
    border-radius: 4px;
}

#input_group input {
    all: unset;
    padding: 0.75rem;
    width: 100%;
}

#input_group button {
    background-color:var(--color-neutral-60);
    border: none;
    color: white;
    padding: 0px 1.25rem;
    font-size: 1,125rem;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    margin-right: 5px;
}

#input_group button:hover {
    opacity: 0.8;
}

#footer_copyright {
    display: flex;
    justify-content: center;
    background-color: var(--color-neutral-0);
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
}

@media screen and (max-width:768px){
    #footer_content {
        grid-template-columns: repeat(2,1fr);
        gap: 2rem;
    }    
}
@media screen and (max-width:426px){
    #footer_content {
        grid-template-columns: repeat(1,1fr);
        padding: 3rem 2rem;
    }    
}

/*Página do Cadastro e Login*/

.conjunto{
    background-image: linear-gradient(to right, var(--color-neutral-0), var(--color-neutral-10), var(--color-neutral-0)) ;
    background-size: cover;
    position: center top;
    background-repeat: no-repeat;
    margin: 30px 70px;
    border-radius: 20px;
}

.card-total{
    padding: 20px 50px;
    display: inline-block;
    justify-content: space-between;
}

.card-cadastro{
    display: inline-block;
    width: 370px;
    height: 520px;
    margin: 50px;
    padding: 0px 20px;
    color: var(--color-neutral-60);
    background-color: var(--color-neutral-30);
    backdrop-filter: blur(20px);
    border-radius: 10px;
    box-shadow: 4px 4px 5px rgba(255, 255, 255, 0.295);
}

.cadastro {
    text-align: center;
    font-weight: bolder;
    font-size: 32px;
    padding: 30px;
    text-shadow: 1px 2px 3px rgba(255, 255, 255, 0.295) ;
}

.form {
    color: var(--color-neutral-60);
    padding: 7px 20px 10px 20px ;
    font-weight: 900
}

.form > input {
    position: relative;
    width: 100%;
    height: 30px;
    border: none;
    background: transparent;
    outline: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    color: white;
    margin-bottom: 15px;
    font-size: 16px;
}

.form .botao-cadastro {
    width: 100%;
    height: 45px;
    color: white;   
    box-shadow: 2px 2px 3px rgba(255, 255, 255, 0.295);
    border-radius: 7px;
    margin:auto; 
    cursor: pointer;
    font-size: 20px;
    font-weight: 900;
    text-decoration: none;
    padding: 5px;
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

.botao-cadastro:hover {
    border: 0px;
    background-color: var(--color-neutral-60);
    color: white;
    transition-duration: 0.3s;
    box-shadow: 4px 4px 6px rgba(255, 255, 255, 0.445);
}

/*área do Login*/

.card-login {
    display: inline-block;
    width: 370px;
    height: 520px;
    margin: 50px;
    padding: 0px 20px;
    color: var(--color-neutral-60);
    background-color: var(--color-neutral-30);
    backdrop-filter: blur(20px);
    border-radius: 10px;
    box-shadow: 4px 4px 5px rgba(255, 255, 255, 0.295);
}

.login {
    text-align: center;
    font-weight: bolder;
    font-size: 32px;
    padding: 30px;
    text-shadow: 1px 2px 3px rgba(255, 255, 255, 0.295);
}

.form {
    color: var(--color-neutral-60);
    padding: 7px 20px 10px 20px ;
    font-weight: 900
}

.form > input {
    position: relative;
    width: 100%;
    height: 30px;
    border: none;
    background: transparent;
    outline: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    color: white;
    margin-bottom: 15px;

}.lembre {
    color: white;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    margin:5px;
}

.lembre > a {
    color: white;
    text-decoration: none;
}

.lembre > a:hover{
    text-decoration: underline;
}

.botao-login > a {
    width: 100%;
    height: 45px;
    color: white;   
    box-shadow: 2px 2px 3px rgba(255, 255, 255, 0.295);
    border-radius: 7px; 
    cursor: pointer;
    font-size: 20px;
    font-weight: 900;
    text-decoration: none;
    padding: 5px;
    margin-top: 15px;
    display: flex;
    justify-content: center;
}


.botao-login:hover {
    border-radius: 7px;
    background-color: var(--color-neutral-60);
    color: white;
    transition-duration: 0.3s;
    box-shadow: 4px 4px 6px rgba(255, 255, 255, 0.445);
}
