<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="/img/Logo/SK-logo.png" type="image/x-png">
    <title>SKsneakers</title>
</head>
<body>
<header>
    <div class="entrada">
        <a class="voltar" href="/view/adidas.html"><h1>Voltar</h1></a>
        <a href="/index.html" class="logo" target="_self" rel="prev">
            <img src="/img/Logo/SK-logo.png" alt="logo" class="SK-logo">
        </a>
    </div>
</header>

<main>
    <div class="container">
        <div class="produto-total">
            <img src="/img/adidas/adidas5.jpeg" alt="adidas1">
        </div>
        <div class="detalhe-produto">
            <h2>Tênis Adidas Park</h2>
            <p class="preco">R$ 275,50 no Pix <span class="preco-normal">R$ 290,00</span> <span class="verde">5% Off</span></p>
            <p class="size">Tamanhos disponíveis:</p>
            <div class="tamanhos">
                <span>38</span>
                <span>39</span>
                <span>40</span>
                <span>41</span>
                <span>42</span>
                <span>43</span>
            </div>
            <div class="add-carrinho">
                <button>Adicionar ao Carrinho</button>
            </div>
            <div class="avaliar">
                &#9733; &#9733; &#9733; &#9733; &#9734; (4.0)
            </div>
            <div class="descricao-produto">
                <h3>Descrição do Produto</h3>
                <p>O Tênis Adidas Park é perfeito para quem busca conforto e desempenho. Com tecnologia de amortecimento avançada.</p>
            </div>
        </div>
    </div>
</main>
<!--fim do main-->
<!--inicio do footer-->
<footer>
    <div id="footer_content">
         <div id="footer_contacts">
            <h1>Logo</h1>
            <p>Redes sociais</p>
            <div id="footer_social_midia">
                <a href="#" class="footer-link" id="instagram">
                    <img src="/img/icones/instagram.png" alt="instagram">
                </a>
                <p>Instagram</p>
            </div>
            <div id="footer_social_midia">
                <a href="#" class="footer-link" id="facebook">
                    <img src="/img/icones/facebook.png" alt="facebook">
                </a>
                <p>Facebook</p>
            </div>
            <div id="footer_social_midia">
                <a href="#" class="footer-link" id="whatsapp">
                    <img src="/img/icones/whatsapp.jpg" alt="whatsapp">
                </a>
                <p>Whatsapp</p>   
            </div>
         </div>
         <ul class="footer-list">
            <li>
                <h3>Ajuda</h3>
            </li>
            <li>
                <a href="#" class="footer-link">Dúvidas gerais</a>
            </li>
            <li>
                <a href="#" class="footer-link">entregas</a>
            </li>
            <li>
                <a href="#" class="footer-link">Pedidos</a>
            </li>
            <li>
                <a href="#" class="footer-link">Encontre seu tamanho</a>
            </li>
            <li>
                <a href="#" class="footer-link">pagamentos</a>
            </li>
         </ul>
         <ul class="footer-list">
            <li>
                <h3>Sobre a SKsneakers</h3>
            </li>
            <li>
                <a href="#" class="footer-link">Propósito</a>
            </li>
            <li>
                <a href="#" class="footer-link">Sustentabilidade</a>
            </li>
            <li>
                <a href="#" class="footer-link">Equipe</a>
            </li>
         </ul>
         <ul class="footer-list">
            <li>
                <a href="view/registro.html" class="footer-link">Cadastre-se para receber informações</a>
            </li>
            <li>
                <a href="#" class="footer-link">Cartão presente</a>
            </li>
            <li>
                <a href="#" class="footer-link">Mapa da página</a>
            </li>
         </ul>
         <div class="footer_subscribe">
            <h3>Se inscrever</h3>

            <p>Digite seu e-mail para ser notificado sobre nossas novidades</p>
           <div id="input_group">
            <input type="email" id="email">
            <button>
                <i class="fa-regular fa-envelope"></i> 
            </button>
           </div> 
         </div>
    </div>
    <div id="footer_copyright">
      <p>&#169  2024 Todos os direitos reservados</p>
    </div>
</footer>
<!--Fim da página-->
</body>
</html>