<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..   900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;    0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&  display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,  wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;   1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"    rel="stylesheet">
    <title>Site Loja</title>
</head>
<body>
    <header>
        <div class="entrada-carrinho">
            <div class="header-carrinho">
                <a href="/index.html" class="logo" target="_self" rel="prev">
                    <img src="/img/Logo/SK-logo.png" alt="logo" class="SK-logo">
                </a>
                <p>Carrinho</p>
                <a href="/index.html">Continuar Comprando &#10140;</a>
        </div>
    </header>
    <main>
        <div class="titulo-carrinho">
            <input type="checkbox" name="introduzir-compra">
            <h2>Todos os Itens (3)</h2> 
        </div>
        <div class="todos-itens">
            <div class="itens">
                <input type="checkbox" name="introduzir-compra">
                <img src="/img/nike/nike7.jpeg" alt="nike7">
                 <div class="produtos-carrinho">
                    <a href="#" alt="nike7">Air Jordan 1 Retro</a>
                    <p>R$1700,00</p>
                 </div>
                 <div class="quantidade">
                    <select class="select">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                    </select>
                    <div class="fa-brands">
                        <i class="fa-regular fa-heart"></i>
                    </div>
                    <div class="fa-brands">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </div>
                 </div>
            </div>
        </div>
        <div class="pagamento">
            
        </div>
    </main>
</body>
</html>