<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..   900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;    0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&  display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,  wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;   1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"    rel="stylesheet">
    <title>SKsneakers-Nike</title>
</head>
<body>
        <!--Cabeçalho do site-->
        <header>
            <div class="cabecalho">
                <a class="promocao" href="">5% OFF em Todo Site. Aproveite!</a>
                <div class="entrada">
                    <a href="/index.html" class="logo" target="_self" rel="prev">
                        <img src="/img/Logo/SK-logo.png" alt="logo" class="SK-logo">
                    </a>
                    <input class="busca"type="search" name="busca"placeholder="Buscar Produto">
                    <div class="carrinho-cadastro">
                        <a href="registro.html" target="_self" rel="next">
                            <i class="fa-solid fa-user" id="login"></i>
                        </a>
                        <a href="carrinho.html" target="_self" rel="next">
                            <i class="fa-solid fa-cart-shopping" id="carrinho"></i>
                        </a>
                    </div>
                </div>
                <nav class="navegacao">
                    <a href="nike.html"  target="_self" rel="next">Nike</a>
                    <a href="adidas.html"  target="_self" rel="next">Adidas</a> 
                    <a href="puma.html"  target="_self" rel="next">Puma</a>
                    <a href="NB.html"  target="_self" rel="next">New Balance </a>
                </nav>
            </div>
        </header>
     <!--Produtos-->
     <main>
        <div class="anuncio" id="nike">  
            <p>Os melhores tênis da nike <br> você encontra aqui</p>
        </div>
        <div>
            <nav class="genero">
                <a href="#" id="todos">Todos</a>
                <a href="#">Masculino</a>
                <a href="#">Feminino</a>
                <a href="#">Infantil</a>
            </nav>
        </div>
        <div class="Produtos">
            <div class="imagens">
                <a href="/view/Nike/nike1.html">
                    <img src="/img/nike/nike1.jpeg" alt="imagem1" id="img">
                    <p>Air force 1</p>
                    <p>R$779,99</p>
                </a>
            </div>
            <div class="imagens">
                <a href="Nike/nike2.html">
                    <img src="/img/nike/nike2.jpeg" alt="imagem2" id="img">
                    <p>Nike Gamma Force</p>
                    <p>R$629,99</p>
                </a>
            </div>
            <div class="imagens">
                <a href="Nike/nike3.html">
                    <img src="/img/nike/nike3.jpeg" alt="imagem3" id="img">
                    <p>Nike Revolution 7</p>
                    <p>R$330,00</p>
                </a>
            </div>
            <div class="imagens">
                <a href="Nike/nike4.html">
                    <img src="/img/nike/nike4.jpeg" alt="imagem4" id="img">
                    <p>Nike Revolution 7</p>
                    <p>R$332,00</p>
                </a>
            </div>
            <div class="imagens">
                <a href="Nike/nike5.html">
                    <img src="/img/nike/nike5.jpeg" alt="imagem5" id="img">
                    <p>Nike In-Season TR 13</p>
                    <p>R$399,99</p>
                </a>
            </div>
            <div class="imagens">
                <a href="Nike/nike6.html">
                    <img src="/img/nike/nike6.jpeg" alt="imagem6" id="img">
                    <p>Air Max Excee</p>
                    <p>R$470,00</p>
                </a>
            </div>
            <div class="imagens">
                <a href="Nike/nike7.html">
                    <img src="/img/nike/nike7.jpeg" alt="imagem7" id="img">
                    <p>Air Jordan 1 Retro</p>
                    <p>R$1700,00</p>
                </a>
            </div>
            <div class="imagens">
                <a href="Nike/nike8.html">
                    <img src="/img/nike/nike8.jpeg" alt="imagem8" id="img">
                    <p>Air Max AP</p>
                    <p>R$499,99</p>
                </a>
            </div>
            <div class="imagens">
                <a href="Nike/nike9.html">
                    <img src="/img/nike/nike9.jpeg" alt="imagem9" id="img">
                    <p>Nike Structure</p>
                    <p>R$599,90</p>
                </a>
            </div>
            <div class="imagens">
                <a href="Nike/nike10.html">
                    <img src="/img/nike/nike10.jpg" alt="imagem10" id="img">
                    <p>Air Jordan 1 high zoom</p>
                    <p>R$1870,92</p>
                </a>
            </div>
            <div class="imagens">
                <a href="Nike/nike11.html">
                    <img src="/img/nike/nike11.jpeg" alt="imagem11" id="img">
                    <p>Nike Sportswear Court</p>
                    <p>R$315,98</p>
                </a>
            </div>
            <div class="imagens">
                <a href="Nike/nike12.html">
                    <img src="/img/nike/nike12.jpg" alt="imagem12" id="img">
                    <p>Air Force low</p>
                    <p>R$799,99</p>
                </a>
            </div>
        </div>
    </main>
    <!--fim da pagina-->  
    <footer>
        <div id="footer_content">
             <div id="footer_contacts">
                <h1 class="SK-logo-footer">SKsneakers</h1>
                <p>Redes sociais</p>
                <div id="footer_social_midia">
                    <a href="#" class="footer-link" id="instagram">
                        <img src="/img/icones/instagram.png" alt="instagram">
                    </a>
                    <p>Instagram</p>
                </div>
                <div id="footer_social_midia">
                    <a href="#" class="footer-link" id="facebook">
                        <img src="/img/icones/facebook.png" alt="facebook">
                    </a>
                    <p>Facebook</p>
                </div>
                <div id="footer_social_midia">
                    <a href="#" class="footer-link" id="whatsapp">
                        <img src="/img/icones/whatsapp.jpg" alt="whatsapp">
                    </a>
                    <p>Whatsapp</p>   
                </div>
             </div>
             <ul class="footer-list">
                <li>
                    <h3>Ajuda</h3>
                </li>
                <li>
                    <a href="#" class="footer-link">Dúvidas gerais</a>
                </li>
                <li>
                    <a href="#" class="footer-link">entregas</a>
                </li>
                <li>
                    <a href="#" class="footer-link">Pedidos</a>
                </li>
                <li>
                    <a href="#" class="footer-link">Encontre seu tamanho</a>
                </li>
                <li>
                    <a href="#" class="footer-link">pagamentos</a>
                </li>
             </ul>
             <ul class="footer-list">
                <li>
                    <h3>Sobre a SKsneakers</h3>
                </li>
                <li>
                    <a href="#" class="footer-link">Propósito</a>
                </li>
                <li>
                    <a href="#" class="footer-link">Sustentabilidade</a>
                </li>
                <li>
                    <a href="#" class="footer-link">Equipe</a>
                </li>
             </ul>
             <ul class="footer-list">
                <li>
                    <a href="view/registro.html" class="footer-link">Cadastre-se para receber informações</a>
                </li>
                <li>
                    <a href="#" class="footer-link">Cartão presente</a>
                </li>
                <li>
                    <a href="#" class="footer-link">Mapa da página</a>
                </li>
             </ul>
             <div class="footer_subscribe">
                <h3>Se inscrever</h3>

                <p>Digite seu e-mail para ser notificado sobre nossas novidades</p>
               <div id="input_group">
                <input type="email" id="email">
                <button>
                    <i class="fa-regular fa-envelope"></i> 
                </button>
               </div> 
             </div>
        </div>
        <div id="footer_copyright">
          <p>&#169  2024 Todos os direitos reservados</p>
        </div>
    </footer>
</body>
</html>