<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..   900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;    0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&  display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,  wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;   1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"    rel="stylesheet">
    <title>Site Loja</title>
</head>
<body>
    <!--Cabeçalho do site-->
    <header>
        <div class="cabecalho">
            <a class="promocao" href="">15% OFF Aproveite!</a>
            <div class="entrada">
                <a href="/index.html" class="logo" target="_self" rel="prev">
                    <h1>Logo</h1>
                </a>
                <input class="busca" type="search" name="busca" placeholder="Buscar Produto">
                <div class="carrinho-cadastro">
                    <i class="fa-solid fa-user" id="login"></i>
                    <i class="fa-solid fa-cart-shopping" id="carrinho"></i>
                </div>
            </div>
            <nav class="navegacao">
                <a href="nike.html"  target="_self" rel="next">Nike</a>
                <a href="adidas.html"  target="_self" rel="next">Adidas</a> 
                <a href="puma.html"  target="_self" rel="next">Puma</a>
                <a href="NB.html"  target="_self" rel="next">New Balance </a>
            </nav>
        </div>
    </header>
     <!--Produtos-->
     <main>
        <div class="anuncio" id="puma">  
        </div>
        <div>
            <nav class="genero">
                <a href="#">Todos</a>
                <a href="#">Masculino</a>
                <a href="#">Feminino</a>
                <a href="#">Infantil</a>
            </nav>
        </div>
        <div class="Produtos">
            <div class="imagens">
                <img src="/img/Puma/puma1.jpeg" alt="imagem1" id="img">
                <p>Puma Carina PS <br> BDP</p>
            </div>
            <div class="imagens">
                <img src="/img/Puma/puma2.avif" alt="imagem2" id="img">
                <p>Puma X-Ray 2 <br> Square BDP</p>
            </div>
            <div class="imagens">
                <img src="/img/Puma/puma3.jpeg" alt="imagem3" id="img">
                <p>Puma Carina L <br> Feminino</p>
            </div>
            <div class="imagens">
                <img src="/img/Puma/puma4.jpeg" alt="imagem4" id="img">
                <p>Puma Prowl <br>Slip-o Feminino</p>
            </div>
            <div class="imagens">
                <img src="/img/Puma/puma5.webp" alt="imagem5" id="img">
                <p> Puma Classic Suede <br> Vermelho</p>
            </div>
            <div class="imagens">
                <img src="/img/Puma/puma6.webp" alt="imagem6" id="img">
                <p>Puma <br> Karmen</p>
            </div>
            <div class="imagens">
                <img src="/img/Puma/puma7.webp" alt="imagem7" id="img">
                <p>Puma Wired <br> Run</p>
            </div>
            <div class="imagens">
                <img src="/img/Puma/puma8.webp" alt="imagem8" id="img">
                <p>Puma Casual-Edição <br> Max Confort</p>
            </div>
            <div class="imagens">
                <img src="/img/Puma/puma9.jpg" alt="imagem9" id="img">
                <p>Puma X-Cell Uprise Masculino Preto / Vermelho</p>
            </div>
            <div class="imagens">
                <img src="/img/Puma/puma10.avif" alt="imagem10" id="img">
                <p>Puma RS-X <br> Mix 44</p>
            </div>
            <div class="imagens">
                <img src="/img/Puma/puma11.webp" alt="imagem11" id="img">
                <p>Puma Mercedes Amg Petronas MAPF1</p>
            </div>
            <div class="imagens">
                <img src="/img/Puma/puma12.webp" alt="imagem12" id="img">
                <p>Puma Smash V2 <br> BDP Preto</p>
            </div>
        </div>
    </main>
    <!--fim da pagina-->  
    <footer>
        <div id="footer_content">
             <div id="footer_contacts">
                <h1>logo</h1>
                <p>
                 Redes sociais
                </p>
            <div id="footer_social_midia">
                <a href="#" class="footer-link" id="instagram">
                        <i class="fa-brands fa-instagram"></i>
                </a>
                <span>Instagram</span>
            </div>
            <div id="footer_social_midia">
                <a href="#" class="footer-link" id="facebook">
                        <i class="fa-brands fa-facebook-f"></i>
                </a>
                <span>facebook</span>
            </div>
            <div id="footer_social_midia">
                <a href="#" class="footer-link" id="whatsapp">
                        <i class="fa-brands fa-whatsapp"></i>
                </a>
                <span>whatsapp</span>
            </div>
        </div>

             <ul class="footer-list">
                <li>
                    <h3>Ajuda</h3>
                </li>
                <li>
                    <a href="#" class="footer-link">Dúvidas Gerais</a>
                </li>
                <li>
                    <a href="#" class="footer-link">Entregas</a>
                </li>
                <li>
                    <a href="#" class="footer-link">Pedidos</a>
                </li>
                <li>
                    <a href="#" class="footer-link">Encontre seu tamanho</a>
                </li>
                <li>
                    <a href="#" class="footer-link">Pagamentos</a>
             </ul>

             <ul class="footer-list">
                <li>
                    <h3>Sobre a (marca)</h3>
                </li>
                <li>
                    <a href="#" class="footer-link">Prósito</a>
                </li>
                <li>
                    <a href="#" class="footer-link">Sustentabilidade</a>
                </li>
                <li>
                    <a href="#" class="footer-link">Equipe</a>
                </li>
             </ul>
             <ul class="footer-list">
                <li>
                    <a href="#" class="footer-link">Cadastre-se para receber informações</a>
                </li>
                <li>
                    <a href="#" class="footer-link">Cartão presente</a>
                </li>
                <li>
                    <a href="#" class="footer-link">Mapa da página</a>
                </li>
             </ul>          
             <div class="footer_subscribe">
                <h3>Se inscrever</h3>

                <p>
                    Digite seu e-mail para ser notificado sobre nossas novidades
                </p>

               <div id="input_group">
                <input type="email" id="email">
                <button>
                    <i class="fa-regular fa-envelope"></i> 
                </button>
               </div> 
             </div>
        </div>
        <div id="footer_copyright">
          &#169  2024 Todos os direitos reservados
        </div>
    </footer>
</body>
</html>